html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  background: radial-gradient(ellipse at center, #eef0f2 0%, #90a2b2 100%);
}
#export {
    width: 600px;
    background: linear-gradient(135.31deg, #617AFF -5.59%, #815CEA 52.94%, #530095 104.59%);
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}
.card {
    top: 0;
    left: 0;
    margin: auto;
    width: 280px;
    height: 400px;
    background: grey;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 8px solid white;
    overflow: hidden;
}

@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/* image preview */ 

.thumbnail {
    max-width: 600px;
    max-height: 600px;
}